<div class="container text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <h1 class="text-main-1" style="font-size: 150px;">:(</h1>
            <div class="nk-gap"></div>
            <h2 class="h4">@ViewData["TitleMessage"]</h2>
            <div>@ViewData["FirstMessage"] <br> @ViewData["SecondMessage"]</div>
            <div class="nk-gap-3"></div>
            <a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]" class="nk-btn nk-btn-rounded nk-btn-color-white">Return to @ViewData["ActionName"]</a>
        </div>
    </div>
    <div class="nk-gap-3"></div>
</div>