@model UserListingsViewModel

@{
    ViewData["Title"] = "User Roles Administration";
}

<div class="row well">
	<h4>@ViewData["Title"]</h4>
	<form action="/admin/users/index" method="post">
		<input type="text" class="btn-sm" placeholder="@(string.IsNullOrWhiteSpace(Model.SearchTerm)? "Enter search term" : Model.SearchTerm)" name="SearchTerm" />
		<input type="submit" class="btn-sm btn-primary" value="Search" />
	</form>
</div>
	@if (TempData.ErrorMessage() != null)
	{
		<div class="red">
			<p><strong>Error:</strong> @TempData.ErrorMessage()</p>
		</div>
	}

	@if (TempData.SuccessMessage() != null)
	{
		<div class="green">
			<p><strong>Success:</strong> @TempData.SuccessMessage()</p>
		</div>
	}

	<table class="table table-hover">
		<thead class="bg-primary">
			<tr>
				<th>
					E-mail
				</th>
				<th>
					current roles
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.Users)
			{
				<tr>
					<td>
						@user.Email
					</td>
					<td>
						<ul>
							@foreach (var role in user.UserRoles)
							{
								<li>@role</li>
							}
						</ul>
					</td>
					<td>
						<form action="" method="post">
							<div class="row">
								<div class="col-sm-6">
									<input type="hidden" name="UserId" value="@user.Id" />
									<select name="Role" asp-items="Model.Roles" class="form-control btn-sm"></select>
								</div>
								<div class="col-md-6">
									<input class="btn-sm btn-info btn-group" type="submit" value="Add To Role" formaction="/admin/users/AddToRole" />
									<input class="btn-sm btn-danger" type="submit" value="Remove from Role" formaction="/admin/users/RemoveFromRole" />
								</div>
							</div>
						</form>

					</td>
				</tr>
			}
		</tbody>
	</table>

	@if (Model.TotalUsers > Model.Users.Count())
	{
		<ul class="pagination">
			<li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
				<a asp-route-page="@Model.PreviousPage"
				   aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
				<a asp-route-page="@Model.NextPage"
				   aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	}
